*{
	font-family: sans-serif;
}
body{
	margin:0;
}
.navbar{
	display: block;
	margin: 0;
	width: 100%;
	height: 40px;
	background: #ffa500;
}
.navbar ul{
	margin: 0px;
	padding-top: 3px;
	list-style-type: none;
	font-size: 14px;
}
.navbar li{
	float:right;
	margin-right: 30px;
	padding-top:10px;
	padding-right: 0;
	 
}
.navbar li a{
	text-decoration: none;
	color: #fff;
}
.navbar li a:hover{
	background: #696969;
	color: #fff;
	border-radius: 12px;
}
.content{
	max-width: 85%;
	margin-top: 40px;
	margin-left: 7.5%;

	height: 450px;
	background: #fffced;
	padding: 10px;
}
.info-section{
	position: relative;
	display: inline-block;
	margin: 30px;
	padding: 20px;
}
p#tagline{
	font-size: 11px;
}
.info-section-list{
	margin: 10px;
	padding: 10px 10px;
}
.info-section-list ul{
	list-style-type: circle;
}
.info-section-list li{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.login{
	display: inline;
	width: 30%;
	height:300px;
	margin-top: 20px;
	margin-right: 60px;
	text-align: center;
	font-size: 11px;
	float: right;
	padding: 40px 10px;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	margin:auto;
	text-align: center;
	background: #ffa500;
	color: #fff;
	font-size: 11px;
	padding-bottom: 10px;
}